//Grid
@import 'reset.scss';
//@import 'bootstrap/bootstrap-grid.scss';

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

$md: 950px;
$sm: 768px;
$sx: 480px;

@font-face {
  font-family: 'stymie';
  src: url('../font/stymieextraboldcondensedbt-webfont.eot');
  src: url('../font/stymieextraboldcondensedbt-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/stymieextraboldcondensedbt-webfont.woff2') format('woff2'),
  url('../font/stymieextraboldcondensedbt-webfont.woff') format('woff'),
  url('../font/stymieextraboldcondensedbt-webfont.ttf') format('truetype'),
  url('../font/stymieextraboldcondensedbt-webfont.svg#stymie_xbdcn_btextra_bold') format('svg');
  font-weight: normal;
  font-style: normal;

}

//Fonts

@mixin font-regular {
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
}
@mixin font-bold {
  font-family: 'Arial', 'Helvetica',sans-serif;
  font-weight:700;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
.wrapper {
  position: relative;
  padding-bottom: 75px;
  min-height: 100%;
}
.container {
  margin: 0 auto;
  width: $md;
  @media screen and (max-width: $md) {
    width: 100%;
    padding: 0 5px;
  }
}

.header {
  background-color: #19191a;
  background-image: url(../img/lines.png);
  background-repeat: repeat-x;


  &-top {
    padding: 23px 0 30px 0;
    @include clearfix;
  }
}
.logo {
  float: left;
  text-decoration: none;
  img {
    display: block;
  }
  .slogan {
    @include font-regular;
    font-size: 14px;
    color: #949494;
  }
  @media screen and (max-width: $sx) {
    float: none;
    display: block;
    text-align: center;
    img {
      margin: 0 auto;
    }
  }
}

.search {
  position: relative;
  float: right;
  &-input {
    padding:9px 10px;
    width: 235px;
    border: none;
    border-radius: 5px;
    @include font-bold;
    font-size: 10px;
    box-shadow: inset 2px 2px 2px 3px #eee;
  }
  &-submit {
    position: absolute;
    top: 0;
    right: 0;
    padding:9px 24px 9px 10px;
    //background-color: #00b0e2;
    padding:9px 24px 9px 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, transparent 100%), #00b0e2;
    @include font-bold;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    cursor: pointer;

    transition: all ease .4s;
    &:hover {
      background-color: #0da1cb;
    }
    &:after {
      content: '';
      position: absolute;
      right: 9px;
      top: 11px;
      width: 5px;
      height: 7px;
      background-image: url(../img/arrow.png);
    }
  }
  @media screen and (max-width: $sx) {
    float: none;
    margin: 15px auto 0 auto;
    max-width: 236px;
  }
}

.menu-toggle {
      display: none;
      position: relative;
      width: 60px;
      height: 60px;
      cursor: pointer;
      overflow: hidden;
      //transition: all ease .5s;
      z-index: 3;
      &-wrap {
        position: relative;
      }
      span {
        position: absolute;
        top: 28px;
        left: 25%;
        background-color: #fff;
        width: 30px;
        height: 3px;
        transition: all ease .5s;
        &:before {
           content: "";
           position: absolute;
           top: 8px;
           background-color: #fff;
           width: 30px;
           height: 3px;
           transition: all ease .5s;
         }
        &:after {
          content: "";
          position: absolute;
          bottom: 8px;
          background-color: #fff;
          width: 30px;
          height: 3px;
          transition: all ease .5s;
        }
      }
      @media screen and (max-width: $md) {
        float: right;
        display: block;
      }
    }

.main-nav {
  @include clearfix;
  display: block;
  background-color: #00b0e2;
  border-top: 1px solid #33c0e8;
  border-bottom: 1px solid #fff;
  ul {
    @include clearfix;
    li {
      float: left;
      padding: 15px 0;
      a {
        position: relative;
        padding: 15px 15px;
        @include font-bold;
        font-size: 14px;
        color: #fff;
        background: linear-gradient(to bottom, transparent 0%, transparent 100%);;
        text-decoration: none;
        transition: all ease .3s;
        z-index: 100;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          background: linear-gradient(to bottom, #19191a 0%, #343434 100%);
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          transition: all ease .3s;
          z-index: -100;
        }
      }
      &:hover {
        a {
          padding-top: 16px;
          padding-bottom: 24px;
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
  @media screen and (max-width: $md) {
    ul {
      display: none;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #00b0e2;
      padding: 40px 0 20px 0;
      z-index: 2;
      li {
        a {
          font-size: 16px;
        }
      }
    }
    &.active {
      ul {
        display: block;
        li {
          float: none;
          display: block;
          padding: 10px 15px;
          a {
            padding: 10px 0;
            &:after {
              display: none;
            }
            &:hover {
              color: #000;
            }
          }
        }
      }
        .menu-toggle {
          //background-color: #fff;
          span {
            //background-color: #000;
            transform: translateX(-60px);
            &:before, &:after {
              opacity: 1;
              //background-color: #000;
            }
            &:before {
              top: 0px;
              transform: translateX(60px) rotate(45deg);
            }
            &:after {
              bottom: 0px;
              transform: translateX(60px) rotate(-45deg);
            }
          }
        }
      }
  }
}



.main {
  padding: 29px 0 40px 0;

  background-color: #eeeeee;
  h1 {
    margin-bottom: 20px;
    font-family: 'stymie';
    font-size: 44px;
    background: -webkit-linear-gradient(#646464 0%, #000 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

}
.posts {
  display: flex;
  margin-bottom: 28px;
  justify-content: space-between;
  flex-flow: row;
  flex-wrap: wrap;
  article {
    flex-basis: 33.33%;
    margin-bottom: 10px;
    max-width: 310px;
    .article-wrap {
      display: block;
      padding: 30px 30px 20px 30px;
      background-color: #fff;
      border-radius: 10px;
      border: 1px solid #dddddd;
      text-decoration: none;
    }
    img {
      box-sizing: content-box;
      display: block;
      margin: 0 auto 10px auto;
      padding: 4px;
      background-color: #f8f8f8;
      border: 1px solid #ebebeb;
    }
    h2 {
      margin-bottom: 12px;
      padding-bottom: 12px;
      @include font-bold;
      font-size: 24px;
      color: #222222;
      border-bottom: 1px dotted #cccccc;
    }
    p {
      @include font-regular;
      font-size: 12px;
      color: #777777;
      line-height: 18px;
    }
  }
  @media screen and (max-width: $md) {
    justify-content: space-around;
    article {
      flex-basis: 50%;
    }
  }
}

.pagination {
  text-align: center;
  a {
    padding-top: 7px;
    padding-bottom: 8px;
    @include font-regular;
    font-size: 12px;
    text-decoration: none;
  }
  &-link {
    padding-left: 11px;
    padding-right: 11px;
    color: #777777;
    &.active {
      background-color: #1e1e1e;
      color: #fff;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  .prev, .next {
    padding-left: 8px;
    padding-right: 8px;
    background-color: #00b0e2;
    color: #fff;
  }
  .prev {
    &:before {
      position: relative;
      bottom: 1px;
      right: 2px;
      content: "\00ab";

    }
  }
  @media screen and (max-width: $sx) {
    a {
      font-size: 9px;
    }

  }
}

.latest {
  padding: 20px 0 30px 0;
  background-color: #1e1e1e;
  box-shadow: inset 0px 17px 15px -10px #151515;
  border-bottom: 1px solid #292929;
  .container {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    flex-wrap: wrap;
  }
  section {
    padding: 0 20px;
    flex-basis: 33.33%;
    h2 {
      margin-bottom: 17px;
      font-family: 'stymie';
      font-size: 24px;
      color: #fff;
      background: -webkit-linear-gradient(#fff 0%, #e8e5e5 70%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    article {
      h3 {
        @include font-bold;
        font-size: 12px;
        color: #00b0e2;
        line-height: 18px;
      }
      p {
        @include font-regular;
        font-size: 12px;
        color: #cccccc;
        line-height: 18px;
      }
      .meta {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dotted #535353;
      }
      .text {
        margin-bottom: 10px;
        padding-bottom: 15px;
        border-bottom: 1px dotted #535353;
      }
    }
    .comment {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px dotted #535353;
      &:last-of-type {

      }
      span {
        @include font-regular;
        font-size: 12px;
        line-height: 18px;
        &.name {
          color: #fff;
        }
        &.text {
          color: #cccccc;
        }
      }
    }
    .more {
      float: right;
      @include font-bold;
      font-size: 12px;
      color: #00b0e2;
      text-decoration: none;
    }
  }
  @media screen and (max-width: $sm) {
    section {
      margin-bottom: 20px;
      flex-basis: 100%;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 30px 0;
  width: 100%;
  background-color: #000000;
  .container {
    text-align: center;
  }
  span {
    @include font-regular;
    font-size: 12px;
    color: #666666;
    a {
      color: #666666;
      text-decoration: none;
      &[href*="mailto"] {
        color: #999999;
      }
    }
  }
}
